{% extends 'base.html' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th class="text-base" style="text-align: center;">Incoming Tweet</th>
        <th class="text-success" style="text-align: center;">Real Percentage</th>
        <th class="text-danger" style="text-align: center;">False Percentage</th>
        <th>
          <button type="button" class="btn btn-success">Accurate Information</button>
        </th>
        <th>
          <button type="button" class="btn btn-danger">False Information</button>
        </th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
{% endblock %}
