{% extends 'base.html' %}
{% block content %}
<div class="jumbotron bg-dark text-white mb-0">
  <div class="container">
    <h1 class="display-3 text-light">Disaster Event Monitor</h1>
    <div class="lead mb-3">Your key to monitoring disasters in real time, including Smith's feet.          
    </div>   
    <button type="button" class="btn btn-primary" style="border-radius: 4px;" >
      <a href="{{ url_for('site.homepage') }}" 
      class="pl-md-0 text-white">Deactivate Training Mode</a>
    </button>
    <!--If possible, include overlays for explaining what training mode is-->     
  </div>
</div>  
<div class="container mt-4 border-radius: 4px;">    
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <div class="dropdown">
        <button type="button" style="border-radius: 4px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Filter By:
        </button>
        <div class="dropdown-menu">

        </div>
      </div>
    </div>
  </div>
</div>  
<div>  
  <div class="container mx-auto mt-4" style="width: 1100px;"> 
    <table class="table table-bordered table-hover" style="text-align: center;">
      <thead>
        <tr>
          <th class="text-base" colspan="1">Incoming Tweet</th>
          <th class="text-base" colspan="2">Tweet Legitimacy</th>
          <th class="text-base" colspan="2">Information Accuracy</th>          
        </tr>
      </thead>
      <tbody>
        <td class="text-base" style="text-align: center;" colspan="1" width="700">Smith's Feet</td>
        <td class="text-base" style="text-align: center;" colspan="1"> 100%</td>
        <td class="text-base" style="text-align: center;" colspan="1" >0%</td>
        <td class="text-base" style="text-align: center;" colspan="1" width="100">
          <button type="button" class="btn btn-success">Accurate</button>
        </td>
        <td class="text-base" style="text-align: center;" colspan="1" width="100">
          <button type="button" class="btn btn-danger">False</button>
        </td>
      </tbody>
    </table>
  </div>
</div>  
{% endblock %}
