{% extends 'base.html' %}
{% block trainingbuttonmode %}
<button type="button" class="btn btn-primary" style="border-radius: 4px;" >
  <a href="{{ url_for('site.homepage') }}" 
  class="pl-md-0 text-white">Deactivate Training Mode</a>
</button>
<!--If possible, include overlays for explaining what training mode is-->   
{% endblock trainingbuttonmode %}

{% block tablediv %} 
<div class="container mt-4 border-radius: 4px;">    
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <div class="dropdown">
        <button type="button" style="border-radius: 4px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Filter By:
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-item"></div>
          <div class="dropdown-item"></div>
          <div class="dropdown-item"></div>
        </div>
      </div>
    </div>
  </div>
</div>  
<div>  
  <div class="container mx-auto mt-4" style="width: 1100px;"> 
    <table class="table table-bordered table-hover" style="text-align: center;">
      <thead>
        <tr>
          <th class="text-base" colspan="1">Incoming Tweet</th>
          <th class="text-base" colspan="2">Tweet Legitimacy</th>
          <th class="text-base" colspan="2">Information Accuracy</th>          
        </tr>
      </thead>
      <tbody>
        <td class="text-base" style="text-align: center;" colspan="1" width="700">
          {% block toastmaster %}    {{ super() }}{% endblock toastmaster %}
        </td>
        <td class="text-base" style="text-align: center;" colspan="1"> 100%</td>
        <td class="text-base" style="text-align: center;" colspan="1" >0%</td>
        <td class="text-base" style="text-align: center;" colspan="1" width="100">
          <button type="button" class="btn btn-success">Accurate</button>
        </td>
        <td class="text-base" style="text-align: center;" colspan="1" width="100">
          <button type="button" class="btn btn-danger">False</button>
        </td>
      </tbody>
    </table>
  </div>
</div>  
{% endblock tablediv %}
